<div class="register-modal">
    <div class="register-modal-content">
        <h2>
           Register
        </h2>
        <form [formGroup]="UserForm" (submit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>
                    Name
                </mat-label>
                <input matInput formControlName="name" placeholder="User Name" aria-label="User Name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>
                     Email
                </mat-label>
                <input matInput formControlName="email" placeholder="User Email" aria-label="User Email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>
                     Password
                </mat-label>
                <input matInput formControlName="password" placeholder="User Password" aria-label="User Password">
            </mat-form-field>
            <div class="button-group">
                <button mat-raised-button color="accent" type="submit">
                     Send
                </button>
                <button mat-raised-button color="warn" (click)="closeModal()">
                     Close
                </button>
            </div>
        </form>
    </div>
</div>
